{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h2>Test Blog</h2>
        </div>
        {% for post in posts %}
    <div>
        <p><h2><a href="">{{ post.title }}</a></h2>
        <h6>published: {{ post.published_date }}</h6></p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>

